@charset "UTF-8";

h1{
    background-color: lightgray;
    height: 300px;
    width: 300px;
    border: 10px solid orange;
    padding: 10px;
    margin: 10px auto 30px auto;
    outline: 5px dashed blueviolet;
    /* display: inline; */
    
}

a{
    display: block;
    border: 10px solid red;
    padding: 10px 10px 10px 10px;
}